<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.dao.IssueTaskMapper" >
  <resultMap id="BaseResultMap" type="com.school.bean.IssueTask" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="request" property="request" jdbcType="VARCHAR" />
    <result column="issue_account" property="issueAccount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="INTEGER" />
    <result column="accept" property="accept" jdbcType="INTEGER" />
    <result column="giveup" property="giveup" jdbcType="INTEGER" />
    <result column="finished" property="finished" jdbcType="INTEGER" />
    <result column="appraise" property="appraise" jdbcType="VARCHAR" />
    <result column="appraiselevel" property="appraiselevel" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from issue_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.school.bean.IssueTask" >
    insert into issue_task (id, request, issue_account, 
      price, type, starttime, 
      endtime, accept, giveup, 
      finished, appraise, appraiselevel
      )
    values (#{id,jdbcType=INTEGER}, #{request,jdbcType=VARCHAR}, #{issueAccount,jdbcType=INTEGER}, 
      #{price,jdbcType=REAL}, #{type,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=INTEGER}, #{accept,jdbcType=INTEGER}, #{giveup,jdbcType=INTEGER}, 
      #{finished,jdbcType=INTEGER}, #{appraise,jdbcType=VARCHAR}, #{appraiselevel,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.school.bean.IssueTask" >
    update issue_task
    set request = #{request,jdbcType=VARCHAR},
      issue_account = #{issueAccount,jdbcType=INTEGER},
      price = #{price,jdbcType=REAL},
      type = #{type,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=INTEGER},
      accept = #{accept,jdbcType=INTEGER},
      giveup = #{giveup,jdbcType=INTEGER},
      finished = #{finished,jdbcType=INTEGER},
      appraise = #{appraise,jdbcType=VARCHAR},
      appraiselevel = #{appraiselevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, request, issue_account, price, type, starttime, endtime, accept, giveup, 
    finished, appraise, appraiselevel
    from issue_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, request, issue_account, price, type, starttime, endtime, accept, giveup, 
    finished, appraise, appraiselevel
    from issue_task
  </select>
</mapper>